{% extends "account/email/base_email.html" %} {% load i18n %} {% block content%}
<table border="0" cellpadding="20" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        <h2 class="h2">Email Changed</h2>
        {% include "account/email/base_notification.html" %}
        <br/>
        {% blocktrans %}Your email has been changed from {{ from_email }} to {{ to_email }}.{% endblocktrans %}
      </div>
    </td>
  </tr>
    <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        {% include "account/email/base_notification_footer.html" %}
      </div>
    </td>
  </tr>
</table>
{% endblock %} {% block footer %}
{% include "account/email/base_footer.html" %}
{% endblock %}
