{% extends "account/email/base_email.html" %} {% load i18n %} {% block content%}
<table border="0" cellpadding="20" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        <h2 class="h2">{% trans "Confirm your email" %}</h2>
        {% include "account/email/base_message.html" %}
        <br/>
        Click the verification button. This helps keep your account secure .
        <br />
        <p>If you did not create an account, you can ignore this email.</p>
      </div>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" style="padding-top: 0">
      <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
        <tr>
          <td valign="middle" class="templateButtonContent">
            <div mc:edit="std_content01">
              <a
                href="{{ activate_url }}"
                target="_blank"
                style="color: white; text-decoration: none"
                >Verify my account</a
              >
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
    <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        {% include "account/email/base_message_footer.html" %}
      </div>
    </td>
  </tr>
</table>
{% endblock %} {% block footer %}
{% include "account/email/base_footer.html" %}
{% endblock %}
