{% extends "account/email/base_email.html" %} {% load account %} {% load i18n %} {% block content %}
<table border="0" cellpadding="20" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        <h2 class="h2">Sign-In Code</h2>
        {% include "account/email/base_message.html" %}
        <br/>
        {% autoescape off %}{% blocktranslate %}Your sign-in code is listed below. Please enter it in your open browser window.{% endblocktranslate %}{% endautoescape %}
        <br/>
        <table border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff; padding: 20px 40px; border-radius: 6px; border: 1px solid #ddd; font-family: Arial, sans-serif;">
        <tr>
          <td align="center" style="font-size: 24px; font-weight: bold; letter-spacing: 4px; color: #333333;">
            {{code}}
          </td>
        </tr>
      </table>
        {% blocktranslate %}This mail can be safely ignored if you did not initiate this action.{% endblocktranslate %}
      </div>
    </td>
  </tr>
    <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        {% include "account/email/base_message_footer.html" %}
      </div>
    </td>
  </tr>
  
</table>

{% endblock %} {% block footer %} {% include "account/email/base_footer.html" %}
{% endblock %}
