{% extends "account/email/base_email.html" %} {% load account %} {% load i18n %} {% block content %}
<table border="0" cellpadding="20" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        <h2 class="h2">Password Changed</h2>
        {% include "account/email/base_message.html" %}
        <br/>
        {% autoescape off %}{% blocktrans %}Your password has been set.{% endblocktrans %}{% endautoescape %}
        <br/>
      </div>
    </td>
  </tr>
    <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        {% include "account/email/base_message_footer.html" %}
      </div>
    </td>
  </tr>
  
</table>

{% endblock %} {% block footer %} {% include "account/email/base_footer.html" %}
{% endblock %}
