{% extends "account/email/base_email.html" %} {% load account %} {% load i18n %} {% block content %}
<table border="0" cellpadding="20" cellspacing="0" width="100%">
  <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        <h2 class="h2">Password Reset</h2>
        {% include "account/email/base_message.html" %}
        <br/>
        {% autoescape off %}
        {% blocktrans %}You're receiving this email because you or someone else has requested a password reset for your user account.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}
        <br />
        
        {% blocktranslate %}To confirm this is correct, Click the verification button.{% endblocktranslate %}
        {% if username %}

{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}{% endif %}
    </div>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" style="padding-top: 0">
      <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
        <tr>
          <td valign="middle" class="templateButtonContent">
            <div mc:edit="std_content01">
              <a
                href="{{ password_reset_url }}"
                target="_blank"
                style="color: white; text-decoration: none"
                >Password reset</a
              >
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>  
    <tr>
    <td valign="top" class="bodyContent">
      <div mc:edit="std_content00">
        {% include "account/email/base_message_footer.html" %}
      </div>
    </td>
  </tr>
  {% endautoescape %}
</table>

{% endblock %} {% block footer %} {% include "account/email/base_footer.html" %}
{% endblock %}
